services:
  kali:
    image: rootandbeer/kali-web:latest
    container_name: kali
    shm_size: "512m"
#    ports:
#      - "6901:6901"
    environment:
      VNC_PW: "password"
      PASSWORD: "password"
    volumes:
      - kali_home:/home/kasm-user
      - kali_opt:/opt   # optional persistent tool storage
      - /mnt/kali:/home/kasm_user/shared # optional bind mount for file sharing w/ host 
    restart: unless-stopped
    privileged: true    # required for nmap, wireshark, kismet, ping, etc
    networks:
      vuln_net:
        ipv4_address: 172.18.1.10

  sshmitm:
    image: rootandbeer/ssh-mitm:latest
    container_name: sshmitm
    networks:
      vuln_net:
        ipv4_address: 172.18.1.20
    restart: unless-stopped

networks:
  vuln_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16

volumes:
  kali_home:
  kali_opt: